<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Poll Stats</title>
</head>
<body>
    <h1 th:text="${poll.title}"></h1>
    <ul>
        <li th:each="question: ${poll.questions}">
            <span th:text="${question.question}"></span>
            <ul>
                <li th:each="answer: ${question.answers}" th:text="${answer.answer} + ' - ' + ${answer.responseCount}"></li>
            </ul>
        </li>
    </ul>
</body>
</html>