<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="#" th:action="@{/register}" th:object="${user}" th:method="post" method="post">
        <label for="username">
            Username:
            <input type="text" th:field="*{username}" id="username">
        </label>
        <br>
        <label for="password">
            Password:
            <input type="password" th:field="*{password}" id="password">
        </label>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>